<div class="header-for-bg position-relative">
  <div class="background-header">
    <img
      src="assets/images/smiley4rotate.jpg"
      class="img-fluid"
      style="width: 1350px; height: 150px;"
      alt="header-bg"
      loading="lazy"
    />
  </div>
  <div class="title-on-header position-absolute top-30 start-50 translate-middle-x">
    <div class="data-block p-3 bg-white rounded">
      <h1>Groups</h1>
    </div>
  </div>
</div>
<p id = "message" *ngIf="showSuccessMessage">
  Group request sent successfully!
</p>
<p id="error-message" *ngIf="showErrorMessage">
  You already sent a request for this group.
</p>
<div class="col-lg-4">
  <div class="card">
    <div class="card-body">
      <ul class="list-inline p-0 m-0">
        <li>
          <button
            class="btn btn-warning d-flex align-items-center d-block w-100"
            fdprocessedid="mig757"
            data-bs-toggle="modal"
            data-bs-target="#groupModal"
          >
            Create New Group
          </button>
          <div *ngIf="notification.msgType === 'error'" class="alert alert-danger">
            {{ notification.msgBody }}
          </div>
        </li>
      </ul>
    </div>
    <div class="container" style="width: 1300px">
      <div class="row" style="width: 1300px">
        <div class="col-lg-4" *ngFor="let group of groups">
          <div class="card mb-0">
          
            <div class="card-body text-center">
              <i
                class="fas fa-ellipsis-h"
                type="button"
                id="post1Menu"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              ></i>
              <!-- edit menu -->
              <ul
                class="dropdown-menu border-0 shadow"
                aria-labelledby="post1Menu"
              >
                <li class="d-flex align-items-center">
                  <a
                    class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                    style="cursor: pointer"
                    data-bs-toggle="modal"
                    data-bs-target="#groupModal"
                    *ngIf="group.groupAdmin.length > 0 && (group.groupAdmin[0].user.username == userName() || userType() === 'ADMIN')"
            (click)="editGroup(group)"
                  >
                    Edit Group</a
                  >
                </li>
                <li class="d-flex align-items-center">
                  <a
                    class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                    style="cursor: pointer"
                    *ngIf="userType() === 'ADMIN'"
                    (click)="openSuspendModal(group)"
                  >
                    Suspend Group</a
                  >
                </li>
                
              </ul>
              <div class="top-bg-image">
                <img
                  src="assets/images/smiley5rotate.jpg"
                  class="img-fluid w-100"
                  alt="group-bg"
                  style="height: 80px;"
                  loading="lazy"
                />
              </div>
              <!-- group info -->
              <div class="group-info pt-3 pb-3">
                <h4>
                  <a  style="cursor: pointer;" [routerLink]="['/group', group.id]">{{ group.name }}</a>
                </h4>
                <p>{{ group.description }}</p>
                <p>Creation date: {{ formatDate(group.creationDate) }}</p>
                <div *ngIf="group.groupAdmin && group.groupAdmin.length > 0">
                <p  *ngFor="let admin of group.groupAdmin"
                 style="cursor: pointer;" [routerLink]="['/profile', admin.user.id]">Group admin : {{ admin.user.username }}</p> 
              </div>
              </div>

              <button
                class="btn btn-warning d-block w-800"
                fdprocessedid="0jc7jk"  
                *ngIf="group.groupAdmin[0]?.user?.username != userName()"
                (click)="createGroupRequest(group)"
              >
                Join group
              </button>
            </div>
           
          </div>
        </div>

        <div
          class="modal fade"
          id="groupModal"
          tabindex="-1"
          aria-labelledby="groupModalLabel"
          aria-hidden="true"
          data-bs-backdrop="false"
          #groupModal
          (hidden.bs.modal)="onModalHidden()"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header align-items-center">
                <h5
                  class="text-dark text-center w-100 m-0"
                  id="exampleModalLabel"
                >
                  {{ group.id ? "Update Group" : "Create Group" }}
                </h5>
                
                
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form (ngSubmit)="onSubmit()" #groupForm="ngForm">
                <div class="modal-body">
                  <!-- name -->
                
                  <div class="form-group">
                    <label for="groupName">Group Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="groupName"
                      name="groupName"
                      placeholder="Write name of group"
                      [(ngModel)]="group.name"
                      required
                    />
                  </div>
                  <div [hidden]="group.name" class="alert alert-danger">
                    Group name is required 
                    </div>
                  
                  <!-- description -->
                
                  <div class="form-group">
                    <label for="groupDescription">Group Description</label>
                    <textarea
                      class="form-control"
                      id="groupDescription"
                      name="groupDescription"
                      placeholder="Write group description"
                      [(ngModel)]="group.description"
                      required
                      rows="5"
                    ></textarea>
                  </div>
                  <div [hidden]="group.description" class="alert alert-danger">
                    Description is required
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="submit"
                    class="btn btn-warning w-100"
                    [disabled]="!groupForm.form.valid"
                    data-bs-dismiss="modal"
                  >
                    {{ group.id ? "Update Group" : "Create Group" }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
