<div class="header-for-bg position-relative">
  <div class="background-header">
    <img
      src="assets/images/smiley4rotate.jpg"
      class="img-fluid"
      style="width: 1350px; height: 150px"
      alt="header-bg"
      loading="lazy"
    />
  </div>

  <div class="container" >
    <div class="row align-items-center">
      <div class="col-lg-2">
        <img
          class="rounded-circle img-fluid avatar-100"
          src="assets/images/smiley6.jpg"
        />
      </div>
      <div class="col-lg-8">
        <div class="info">
          <h4>{{ group.name }}</h4>
          <p>{{ group.description }}</p>
          <p>Creation date: {{ formatDate(group.creationDate) }}</p>
          <p   *ngFor="let admin of group.groupAdmin" style="cursor: pointer;" [routerLink]="['/profile',admin.user.id]"> Group admin: {{ admin.user.username }}</p>
        </div>
      </div>
      <div class="col-lg-2">
        <button *ngIf="group.groupAdmin[0]?.user?.username !== userName()"
        type="submit" class="btn btn-warning"
        (click)="createGroupRequest(group)">Join group</button>
        <button *ngIf="group.groupAdmin[0]?.user?.username === userName()" style="cursor: pointer;"
        [routerLink]="['/groupRequests', group.id]" class="btn btn-warning">Group requests</button>
      </div>
    </div>
  </div>
  <p id = "message" *ngIf="showSuccessMessage">
    Group request sent successfully!
  </p>
  <p id="error-message" *ngIf="showErrorMessage">
    You already sent a request for this group.
  </p>
  
  <hr />
<div *ngFor="let admin of group.groupAdmin">
  <div *ngIf="showContent || admin.user.username === userName()">
    <app-create-post [group]="group"></app-create-post>
      <app-group-post  [group]="group"></app-group-post>
</div>
</div>
