<div class="container-fluid">
  <div class="row justify-content-evenly">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header align-items-center">
          <h5 class="text-dark text-center w-100 m-0" id="exampleModalLabel">
            Suspend group
          </h5>
        </div>
        <div class="modal-body">
          <div class="my-1 p-1">
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center">
                <div class="p-2">
                  <img
                    src="assets/images/smiley6.jpg"
                    class="rounded-circle"
                    style="width: 38px; height: 38px; object-fit: cover"
                  />
                </div>
                <div>
                  <p class="m-0 fw-bold">{{ userName() }}</p>
                </div>
              </div>
              <p>Reason for suspending the group:</p>
              <textarea
                rows="5"
                [(ngModel)]="suspendedReason"
                required="true"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-warning w-100"
            data-bs-dismiss="modal"
            (click)="suspendGroup()"
          >
            Suspend
          </button>
          <p id="message" *ngIf="showSuccessMessage">Suspended successfully!</p>
        </div>
      </div>
    </div>
  </div>
</div>
