<div
  id="collapsePost1"
  class="accordion-collapse collapse"
  aria-labelledby="headingTwo"
  data-bs-parent="#accordionExample"
>
  <hr />
  <div _ngcontent-sji-c1="" class="pt-1">
    <button
      type="button"
      (click)="toggleSortingOrder('date')"
      class="btn btn-warning btn-block custom-margin"
    >
      <i class="fa-solid fa-calendar-days"></i>
      {{ sortingOrder === "ascending" ? "descending" : "ascending" }}
    </button>
    <button
      type="button"
      (click)="toggleSortingOrder('likes')"
      class="btn btn-warning btn-block custom-margin"
    >
      <i class="fas fa-thumbs-up"></i>
      {{ sortingOrder === "likesAscending" ? "descending" : "ascending" }}
    </button>
    <button
      type="button"
      (click)="toggleSortingOrder('dislikes')"
      class="btn btn-warning btn-block custom-margin"
    >
      <i class="fas fa-thumbs-down"></i>
      {{ sortingOrder === "dislikesAscending" ? "descending" : "ascending" }}
    </button>
    <button
      type="button"
      (click)="toggleSortingOrder('hearts')"
      class="btn btn-warning btn-block custom-margin"
    >
      <i class="fa-solid fa-heart"></i>
      {{ sortingOrder === "heartsAscending" ? "descending" : "ascending" }}
    </button>
  </div>
  
  <app-coment 
  *ngFor="let rootComment of getRootComments()"
  [comment]="rootComment"
   [replies]="getReplies(rootComment.id)"
  [sortingOrder]="sortingOrder"
   [post]="post" 
    ></app-coment>
  <app-create-comment [post]="post"></app-create-comment>