  <!-- likes -->
  <div
  class="d-flex align-items-center top-0 start-0 position-absolute"
  style="height: 20px; z-index: 3"
>

  </div>
  <div class="d-flex justify-content-around">
  <div
    class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
    (click)="selectedReaction = like; reactToComment()"
    > 
    <i *ngIf="comment && comment.id" id="like-reaction-icon-{{comment.id}}" 
    class="fas fa-thumbs-up me-3"> </i>
    <p class="m-0">Like</p>
  </div>
  <div
    class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
    (click)="selectedReaction = dislike; reactToComment()"
  
   >
    <i *ngIf="comment && comment.id" id="dislike-reaction-icon-{{comment.id}}" 
     class="fas fa-thumbs-down me-3"></i>
    <p class="m-0">Dislike</p>
  </div>
  <div
    class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1"
    (click)="selectedReaction = heart; reactToComment()"
  
   >
    <i *ngIf="comment && comment.id" id="heart-reaction-icon-{{comment.id}}" 
    class="fa-solid fa-heart"></i>
    <p class="m-0">Heart</p>
  </div>


  <div
  class="dropdown-item rounded d-flex justify-content-center align-items-center pointer text-muted p-1 disabled"
 >
 <i class="text-primary fas fa-thumbs-up"></i>
 <span  *ngIf="comment && comment.id" id="like-reaction-count-{{comment.id}}"></span>
  <i class="text-primary fas fa-thumbs-down"></i>
  <span  *ngIf="comment && comment.id" id="dislike-reaction-count-{{comment.id}}"></span>
  <i class="text-danger fab fa-gratipay"></i>
  <span  *ngIf="comment && comment.id" id="heart-reaction-count-{{comment.id}}"></span>

</div>
 
</div>
