<div class="header-for-bg position-relative">
    <div class="background-header">
      <img
        src="assets/images/smiley4rotate.jpg"
        class="img-fluid"
        style="width: 1350px; height: 150px;"
        alt="header-bg"
        loading="lazy"
      />
    </div>
   <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">Group Request</h4>
      </div>
    </div>
    <div  *ngFor="let groupRequest of groupRequests">
    <div *ngIf="groupRequest.at == null" class="card-body" >
      <ul class="request-list list-inline m-0 p-0">
        <li class="d-flex align-items-center justify-content-between flex-wrap">
          <div class="user-img img-fluid flex-shrink-0">
            <div class="p-1">
              <img *ngIf="groupRequest.user.image?.path; else defaultImage" [src]="groupRequest.user.image?.path"
                class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover" />
                <ng-template #defaultImage>
                <img src="assets/images/smiley6.jpg"   class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover" />
               </ng-template>
            </div>
          </div>
          <div class="flex-grow-1 ms-3">
            <p class="m-0 fw-bold" style="cursor: pointer;" [routerLink]="['/profile',groupRequest.user.id]">{{ groupRequest.user.profileName ? groupRequest.user.profileName : groupRequest.user.username }}</p>
            <span class="text-muted fs-7">{{ formatDate(groupRequest.created_at) }}</span>
           </div> 
          <div class="d-flex align-items-center mt-2 mt-md-0">
            <div class="confirm-click-btn">
              <a class="me-3 btn btn-warning rounded confirm-btn"
              (click)="approve(groupRequest)"
                >Approve</a
              >
            </div>
            <a
              class="btn btn-secondary rounded"
              data-extra-toggle="delete"
              data-closest-elem=".item"
              (click)="decline(groupRequest)"
              >Decline Request</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
 
  