<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-1 ms-xl-1">
       
          <span class="h1 fw-bold mb-0">{{ title }}</span>  
          <i class="fas fa-smile fa-2x me-3 pt-5 mt-xl-2"></i>
        </div>

        <div
          class="d-flex align-items-center h-custom-2 px-3 ms-xl-2 mt-4 pt-4 pt-xl-0 mt-xl-n0"
        >
          <form
            #registerForm="ngForm"
            (ngSubmit)="onSubmit()"
            *ngIf="!submitted"
            [formGroup]="form"
          >
            <h3 class="fw-normal mb-1 pb-1" style="letter-spacing: 1px">
              {{ register }}
            </h3>

            <p *ngIf="notification" [class]="notification.msgType">
              {{ notification.msgBody }}
            </p>
            <div class="form-outline mb-0">
              <p *ngIf="form.controls['username'].errors?.['minlength']" class="text-danger">
               Username must be at least 4 characters long. </p>
              <input
                formControlName="username"
                type="text"
                id="username"
                class="form-control form-control-lg"
                placeholder="username"
                required
              />
              <label class="form-label" for="username">Username</label>
            </div>

            <div class="form-outline mb-0">
              <p *ngIf="form.controls['password'].errors?.['minlength']" class="text-danger">
                Password must be at least 8 characters long. </p>
                <input
                formControlName="password"
                type="password"
                id="password"
                class="form-control form-control-lg"
                placeholder="password"
                required
              />
              <label class="form-label" for="password">Password</label>

            </div>

            <div class="form-outline mb-0">
              <p *ngIf="form.controls['email'].errors?.['email']" class="text-danger">
                Please enter a valid email address.
              </p>
              <input
                formControlName="email"
                type="text"
                id="email"
                class="form-control form-control-lg"
                placeholder="email"
                required
              />
              <label class="form-label" for="email">Email</label>
            </div>
            <div class="form-outline mb-0">
              <p *ngIf="form.controls['firstName'].errors?.['minlength']" class="text-danger">
               Firstname must be at least 4 characters long. </p>
              <input
                formControlName="firstName"
                type="text"
                id="firstname"
                class="form-control form-control-lg"
                required
                placeholder="firstname"
              />
              <label class="form-label" for="firstname">First Name</label>
            </div>

            <div class="form-outline mb-0">
              <p *ngIf="form.controls['lastName'].errors?.['minlength']" class="text-danger">
                Lastname must be at least 4 characters long. </p>
              <input
                formControlName="lastName"
                type="text"
                id="lastname"
                class="form-control form-control-lg"
                placeholder="lastname"
                required
              />
              <label class="form-label" for="lastname">Last Name</label>
            </div>

           
            <div class="pt-0 mb-0">
              <button
                [disabled]="!registerForm.form.valid"
                class="btn btn-warning btn-lg btn-block"
                type="submit"
              >
                Register
              </button>
            </div>

            <p>
              Already have an account?
              <a routerLink="/login" class="link-info">Log in here</a>
            </p>
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img
          src="assets/images/smiley3.jpg"
          alt="Registration image"
          class="w-100 vh-100"
          style="object-fit: cover; object-position: left"
        />
      </div>
    </div>
  </div>
</section>
