<div
  id="collapsePost1"
  class="accordion-collapse collapse"
  aria-labelledby="headingTwo"
  data-bs-parent="#accordionExample"
>
  <hr />
  <div _ngcontent-sji-c1="" class="pt-1">
      <button type="button" (click)="toggleSortingOrder('date')" class="btn btn-warning btn-block custom-margin">
       <i class="fa-solid fa-calendar-days"></i> {{ sortingOrder === 'ascending' ? 'descending' : 'ascending' }}
      </button>  
      <button type="button" (click)="toggleSortingOrder('likes')" class="btn btn-warning btn-block custom-margin">
        <i class="fas fa-thumbs-up"></i> {{ sortingOrder === 'likesAscending' ? 'descending' : 'ascending' }}
      </button> 
      <button type="button" (click)="toggleSortingOrder('dislikes')" class="btn btn-warning btn-block custom-margin">
        <i class="fas fa-thumbs-down"></i> {{ sortingOrder === 'dislikesAscending' ? 'descending' : 'ascending' }}
      </button>
      <button type="button" (click)="toggleSortingOrder('hearts')" class="btn btn-warning btn-block custom-margin">
        <i class="fa-solid fa-heart"></i> {{ sortingOrder === 'heartsAscending' ? 'descending' : 'ascending' }}
      </button>  
    </div>
  
  <div class="accordion-body">
    <!-- comment -->
    <div *ngFor="let comment of comments">
      <div class="d-flex align-items-center my-1">
        <img
          src="https://source.unsplash.com/collection/happy-people"
          alt="avatar"
          class="rounded-circle me-2"
          style="width: 38px; height: 38px; object-fit: cover"
        />
        <div class="p-3 rounded comment__input w-100">
          <div class="d-flex justify-content-end">
            <i
              class="fas fa-ellipsis-h text-blue pointer"
              id="post1CommentMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            ></i>
            <!-- menu -->
            <ul
              class="dropdown-menu border-0 shadow"
              aria-labelledby="post1CommentMenuButton"
            >
            <li class="d-flex align-items-center">
              <a 
              (click)="reply(comment)"
                class="dropdown-item d-flex justify-content-around align-items-center fs-7"
              >
                Reply To Comment</a
              >
            </li>
              <li class="d-flex align-items-center">
                <a *ngIf="comment.user.username == userName() || userType() === 'ADMIN'" 
                  (click)="edit(comment)"
                  class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                >
                  Edit Comment</a
                >
              </li>
              <li class="d-flex align-items-center">
                <a *ngIf="comment.user.username === userName() || post.user.username === userName() || userType() === 'ADMIN'"
                  class="dropdown-item d-flex justify-content-around align-items-center fs-7"
                  (click)="delete(comment)"
                >
                  Delete Comment</a
                >
              </li>
            </ul>
          </div>
          <p class="fw-bold m-0">{{ comment.user.username }}</p>
          <span class="text-muted fs-7">{{ comment.timeStamp }}</span>

          <form (ngSubmit)="onSubmitUpdate(comment)">
            <div class="d-flex align-items-center">
              <input
                type="text"
                [id]="'comment-' + comment.id"
                [name]="'comment-' + comment.id"
                class="form-control border-0 rounded-pill bg-gray"
                [disabled]="editingCommentId !== comment.id"
                [(ngModel)]="comment.text"
              />

              <button
                *ngIf="editingCommentId === comment.id"
                type="submit"
                class="btn btn-warning btn-sm ms-auto"
              >
                Update
              </button>
            </div>
          </form>
          <!-- Reply to comment -->
          <form class="d-flex my-1"    
          *ngIf="replyingCommentId === comment.id && this.showReplyForm"
           (ngSubmit)="onSubmit()">
            <div>
              <img
                src="https://source.unsplash.com/collection/happy-people"
                alt="avatar"
                class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover"
              />
            </div>
            <input
              type="text"
              [id]="'comment-' + comment.id"
              [name]="'comment-' + comment.id"
              class="form-control border-0 rounded-pill bg-gray"
              placeholder="Reply to a comment"
              [(ngModel)]="replyCommentText"
            />
          
      
            <button type="submit" class="btn btn-warning btn-sm">Reply</button>
          </form>
          
        </div>
      </div>
      

      <app-reaction-comment [comment]="comment"></app-reaction-comment>
    </div>

    <!-- create comment -->
    <form class="d-flex my-1" (ngSubmit)="onSubmit()">
      <div>
        <img
          src="https://source.unsplash.com/collection/happy-people"
          alt="avatar"
          class="rounded-circle me-2"
          style="width: 38px; height: 38px; object-fit: cover"
        />
      </div>
      <input   
        type="text"
        id="comment"
        name="comment"
        class="form-control border-0 rounded-pill bg-gray"
        placeholder="Write a comment"
        [(ngModel)]="newCommentText"
      />

      <button type="submit" class="btn btn-warning btn-sm">Post</button>
    </form>
  </div>
</div>
